.assignment-link li a:link,
.assignment-link li a:visited,
.assignment-link li a:hover,
.assignment-link li a:active {
  color: black;
}

.choose-course li a:link,
.choose-course li a:visited,
.choose-course li a:hover,
.choose-course li a:active {
  color: black;
}

#myTabs li a:link {
  color: gray;
}

#myTabs li a:visited {
  color: grey;
}

#myTabs li a:hover {
  color: var(--secondary-pink);
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-position: under;
}

#myTabs li a:active {
  color: var(--secondary-pink);
}

/* .assignment-link li {
  text-decoration: none;
  color: black !important;
} */


.assignment-table {
  overflow: hidden;
}

.assignment-table th {
  background-color: var(--secondary-pink);
  color: #FFFFFF;
}

.assignment-table th,
.assignment-table td {
  border: 2px solid var(--secondary-pink);
  padding: 25px;
}

.assignment-table th {
  padding: 15px;
}

.tab {
  display: inline;
  border-radius: 100px;
}

/* add css for assignment-page unread modal */

/* .modal-body {
  text-align: left;
}

.arrow {
  padding-top: 8px;
} */

/* h2 {
  padding-top: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 875px;
}

p {
  text-align: left;
  margin-right: -10px;
  padding-left: 10px;
  justify-content: left
} */

table td.highlight {
  background-color: #D1E5F3;
  color: black;
}


/* on assignments - assignment in detail page */
.radiobutton {
  margin-top: -1px;
}