/* This stylesheet is used to style the assignment submission pages. Please note that we have a JS file used to display a mock version of data when the user hits the submit button. See script.js submitFile function for more details  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
    color: blue;
    text-decoration: none; /* no underline */
  }

body {
	line-height: 1;
  font-family: 'Avenir LT Pro', Helvetica;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/* Adds min and max width media query  */
@media screen and (min-width: 701px) and (max-width: 4000px) {

    /* Sets custom styles for the main border radius container */
    .box {
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 48px 0px 0px 0px;
  }

  /* Sets initial display of the assignment table info to none */
  #assignment-tbl-info {
    display: none;
  }
}

  /* Sets custom height and padding for assignment submission desktop table */
  .assignment-table td {
    height: 150px;
    padding: 1rem;
  }

  /* Custom Styles for Assignment Submission Table */
  .assignment-table-submission {
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
  }
  
  /* Adds custom RISE pink color to submission table background, sets font color to white */
  .assignment-table-submission th {
    background-color: var(--secondary-pink);
    color: #FFFFFF;
  }
  
  /* Adds RISE pink color border around File Submission table, adds custom padding */
  .assignment-table-submission th,
  .assignment-table-submission td {
    border: 2px solid var(--secondary-pink);
    padding: 25px;
  }
  
  /* Adds padding to File Submission table heading */
  .assignment-table-submission th {
    padding: 15px;
  }

  /* Sets custom color for File Submission and text submission radio buttons */
  input[type="radio"]:checked {
    background-color: gray;
    border-color: gray;
  }

  /* creates custom styles for 'upload file' button */
  #upload-file {
    background-color: #E05D7D;
    width: 10rem;
  }

  /* Creates custom styles for file submission 'done' button */
  #done-btn {
      background-color: #E05D7D;
      width: 7rem;
      height: 3rem;
      font-size: large;
  }

  /* Adds custom styles to submission uploads file button */
  .upload {
    position: relative;
    top: 0.3rem;
  }

  /* Creates custom color border around text submission input area */
  .text-sub {
    border: 1px solid var(--secondary-pink);
    border-radius: 1rem;
  }