/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Avenir LT Pro', Helvetica;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
    .mobile-home-pink-svg {
        width: 2.7rem;
    }

    #bg-img-mbl {
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    }

    #text-over-img-mbl {
      margin-top: -5rem;
      padding: 2rem;
      margin-left: -1rem;
    }

    .to-do {
      background-color: #d9d9d9;
      border: 1px solid #d9d9d9;
    }
}

@media (min-width: 700px) and (max-width: 4000px) {
      #mobile-course-pg {
        display: none;
      }
  
      .courses {
          display: none;
      }

      .mobile-headings {
          display: none;
      }

      #bg-img-dsk {
        width: 100%;
      }

      #text-over-img-dsk {
        display: block;
        margin-top: -7rem;
        padding: 2rem;
      }

      .to-do {
        background-color: #d6d6d6;
        border: 1px solid #d9d9d9;
      }

      .logout {
        margin-top: 5vh;
    }

      .box {
        display: block;
        width: 100%;
        height: 100%;
        /* margin-left: 2.5rem; */
        background-color: white;
        border-radius: 48px 0px 0px 0px;
      }

      .calendar-hi-fi {
        width: 297px;
        height: 218px;
        margin-left: 5rem;
      }
      
      .calendar-hi-fi .calendar-list-view {
        position: relative;
        height: 218px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 4px 24px #24616129;
      }
      
      .calendar-hi-fi .text-wrapper {
        position: absolute;
        top: 16px;
        left: 16px;
        font-family: "Avenir Next LT Pro-Bold", Helvetica;
        font-weight: 700;
        color: var(--primaryrise-green);
        font-size: 21.3px;
        letter-spacing: 0;
        line-height: 32px;
        white-space: nowrap;
      }
      
      .calendar-hi-fi .line {
        width: 265px;
        top: 55px;
        left: 16px;
        position: absolute;
        height: 1px;
        object-fit: cover;
      }
      
      .calendar-hi-fi .img {
        width: 250px;
        top: 127px;
        left: 17px;
        position: absolute;
        height: 1px;
        object-fit: cover;
      }
      
      .calendar-hi-fi .line-2 {
        width: 250px;
        top: 201px;
        left: 16px;
        position: absolute;
        height: 1px;
        object-fit: cover;
      }
      
      .calendar-hi-fi .u-calendar-alt {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 15px;
        left: 205px;
      }
      
      .calendar-hi-fi .group {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 11px;
        left: 249px;
        background-color: var(--secondarypeach);
        border-radius: 4px;
      }
      
      .calendar-hi-fi .u-list-ul {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 4px;
        left: 4px;
      }
      
      .calendar-hi-fi .overlap-group {
        position: absolute;
        width: 6px;
        height: 131px;
        top: 71px;
        left: 275px;
        border-radius: 30px;
      }
      
      .calendar-hi-fi .rectangle {
        height: 131px;
        top: 0;
        background-color: #a7c0c0;
        opacity: 0.3;
        position: absolute;
        width: 6px;
        left: 0;
        border-radius: 30px;
      }
      
      .calendar-hi-fi .div {
        height: 56px;
        top: 29px;
        background-color: var(--primaryrise-green);
        position: absolute;
        width: 6px;
        left: 0;
        border-radius: 30px;
      }
      
      .calendar-hi-fi .overlap {
        position: absolute;
        width: 251px;
        height: 50px;
        top: 71px;
        left: 16px;
        background-color: var(--secondarypeach);
        border-radius: 5px;
      }
      
      .calendar-hi-fi .text-wrapper-2 {
        position: absolute;
        top: 12px;
        left: 22px;
        font-family: "Avenir Next LT Pro-Bold", Helvetica;
        font-weight: var(--RISE-body-font-weight);
        color: #000000;
        font-size: var(--RISE-body-font-size);
        letter-spacing: var(--RISE-body-letter-spacing);
        line-height: var(--RISE-body-line-height);
        white-space: nowrap;
        font-style: var(--RISE-body-font-style);
      }
      
      .calendar-hi-fi .overlap-2 {
        position: absolute;
        width: 251px;
        height: 50px;
        top: 140px;
        left: 14px;
        background-color: var(--secondarypeach);
        border-radius: 5px;
      }
      
      .calendar-hi-fi .polygon {
        position: absolute;
        width: 16px;
        height: 10px;
        top: 21px;
        left: 156px;
      }

      /* .weekbyweek{
        border-top: 2px solid white;
        padding-block: 10px;
      } */
  
      .week{
        padding-block: 10px;
        padding-inline: 20px;
      }
  
      .weekbyweek :hover{
        background-color: var(--secondarydark-blue)
      }
  
      .nav-item :hover{
        color: var(--primary-light-blue) !important;
      }
  
      .nav-link active{
        border-bottom: 2px solid var(--primary-light-blue) !important;
      }
      
}