/* This stylesheet is for creating custom styles the facilitator contact pages (1-4) */

/* Adds media screen to control the class .box (the border radius container) and modified the mesages and calendar when the screen is 1400px or less on the facilitator contact pages for responsiveness */
@media (max-width: 1400px) {

    /* sets max-width and height to main border radius container */
    .box {
      max-width: 100%;
      height: auto;
    }
  
    /* sets messages and calendar container to max-width 100% at max-width 1400px */
    .messages-calendar {
      display: flex;
  
      max-width: 100%;
      width: 100% !important;
  
      margin-left: 0;
    }
  
    /* sets margin and width for desktop messages container at 1400px */
    .desk-msg {
      width: 50%;
      margin-right: 30px;
    }
  
    /* sets width and margin right for calendar container at 1400px */
    .calendar-container {
      width: 50%;
      margin-right: 50px;
    }
  
  }