/* This is for control the background control of the box container */
.box {
  background-color: #f1f1f1;
}
/* The section that goes the icons have a blue background */
.card-body-video {
    background-color: #197BBD;
  }
/* The icons are in a border radious 50% (circle) and have a background color */
  .icon-meeting-size {
    padding: 14px;
    border-radius: 50%;
    border: 0;
  }
/* This is for control the backgorund color of the icons except for the leave icon */
  .icons-meeting {
    background-color: #dddddd;
  }
/* This one is for the titles of the icons of the meeting page */
  .text-meeting {
    color: white;

    font-weight: 300;
  }
/* Controls only the microphone icon and it is necessary to have a width and height for more control of the icons size */
  #mute-icon {
    padding: 14px;
    border-radius: 50%;
    border: 0;
    width: 65px;
    height: 65px;
  }
/* Contorls onlky the video icon and function s the same as the #mute-icon */
  #video-icon {
    padding: 14px;
    border-radius: 50%;
    border: 0;
    width: 65px;
    height: 65px; 
  }
/* This one is in the section of the message side panel and goes next to the input */
  .sendIcon {
    width: 18px;
  }
/* This section here is for having more control of the input that goes in the side panel when user clicks to the message icon */
  .inputField {
    color: black;

    font-size: smaller;

    padding: 8px;
    border: 1px solid #ededed;
    background-color: #ededed;
  }

  #message-input {
    background-color: white;
    height: 1300px;
  }

/* This is the part that controls the icon, message title of the side pannel of the message when user clicks to the message icon */
  .message-inputField {
      position: fixed;
      bottom: 0;
      width: 19%;
      margin: 0 auto;
      margin-bottom: 20px;
      padding: 8px;
      align-items: center;
      justify-content: center;
      background-color: #ededed;
      border-radius: 60px;
  }

  .message-icon-meeting {
    width: 30px;
    padding-right: 10px;
  }

  .message-meeting-title {
    color: #365787;
  }

  .fa-x {
    color: #365787;
    font-size: small;
  }