/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Avenir LT Pro', Helvetica;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
    /* Template Styles - Mobile */
    #header {
        background-color: #197BBD;
    }
    
    #header-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .side-panel-tablet {
        display: none;
    }

    #side-panel-img-2 {
        display: none;
    }

    /* Login Homescreen Styles - Mobile */

    .login-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .select{
        border-radius: 20px;
        padding-inline: 100px;
        padding-block: 10px;
        border: none;
        color: white;
        background-color: rgba(198, 65, 87, 1);
        filter: drop-shadow(2px 2px 2px gray);
    }

    h1 {
        font-size: 45px;
        color: rgba(27, 57, 100, 1);
    }

    h2 {
        font-size: 30px;
        color: #197BBD;
    }
}

@media (min-width: 700px) and (max-width: 4000px) {
    /* Template Styles - Tablet + Desktop */
    #header {
        display: none;
    }

    .side-panel-tablet {
        width: 35vw;
        height: 100vh;
        background-color: #197BBD;
    }

    #side-panel-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #side-panel-img-2 {
        height: 90vh;
        width: 35vw;
        object-fit: cover;
        padding-top: 1rem;
        opacity: 0.05;
    }

    /* Login Homescreen Styles - Tablet + Desktop */
}