/* This stylesheet is the global stylesheet for all login pages. */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Avenir LT Pro', Helvetica;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/* CSS Reset End */

/************ Mobile ************/

@media screen and (min-width: 350px) and (max-width: 768px) {
    /* Template Styles - Mobile */
    /* Changes background colour of main header */
    #header {
        background-color: #197BBD;
    }
    
    /* Positions R.I.S.E. Logo */
    #header-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    /* Sets initial display to none */
    .side-panel-tablet {
        display: none;
    }
    /* Sets initial display to none */
    .side-panel-tablet-policy {
        display: none;
    }
    /* Sets initial display to none */
    #side-panel-img-2 {
        display: none;
    }

    /* Student Login Page */

    /* Adds spacing to form elements */
    form {
        margin-top: 20px;
    }
    
    /* Changes size and width of "Student Login" */
    .studentloginText {
        color: var(--primary-light-blue);
        font-weight: bold;
        margin-top: 20px;
        font-size: 25px;
        line-height: 2.5rem;
    }
    
    /* Adds border and radius to email input box */
    .emailInput {
        border: 2px solid var(--primary-light-blue);
        border-radius: 20px 20px 20px 20px;
    }
    
    /* Changes styles for forgot password link */
    .fpassword a {
        text-decoration: none;
        color: var(--primary-light-blue);
    }
    
    /* Changes size and weight for Welcome Message */
    .welcomeText {
        color: var(--primary-dark-blue);
        font-size: 35px;
        font-weight: bold;
        margin-top: 90px;
    }

    /* Changes colour of text inside the form to blue */
    .textform {
        color: var(--primary-light-blue);
    }
    
    /* Adds styles for getLink and logIn buttons */
    .getLinkBtn,
    .logInBtn {
        margin-top: 30px;
        width: 100%;
        height: 40px;
        background: var(--secondary-pink);
        color: var(--primary-white);
        border-radius: 10px;
    }
    
    /* Adds background colour on hover for all buttons */
    .getLinkBtn:hover,
    .logInBtn:hover,
    .selectBtn:hover {
        background: var(--primary-light-blue);
        color: var(--primary-white);
    }
    
    /* Sets colour, size, weight, and margin for H1*/
    #login>h1 {
        color: var(--primary-dark-blue);
        font-size: 35px;
        font-weight: bold;
        margin-top: 90px;
    }

    /* Student Login Welcome Text Styles */
    #studentlogin>div>div>h1 {
        color: var(--primary-dark-blue);
        font-size: 35px;
        padding-bottom: 50px;
        font-weight: var(--h1-font-weight);
    }
    
    /* Sets colour, size, weight, and margin for H2*/
    #login>h2 {
        color: var(--primary-light-blue);
        font-weight: bold;
        margin-top: 50px;
        font-size: 25px;
    }
    
    /* welcome page student border wrapper */
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        font-size: 20px;
        font-weight: bold;
    }
    
    /* Student Selection Box */
    .arc-box1 {
        width: 300px;
        height: 50px;
        border: 2px solid var(--primary-light-blue);
        border-radius: 20px 20px 0 0;
        padding-top: 18px;
        color: var(--primary-dark-blue);
        background-color: var(--primary-yellow);
    }
    
    /* Changes colour of box when hovered */
    .arc-box1:hover, .arc-box2:hover, .arc-box3:hover {
        background: var(--primary-yellow);
        /* color: var(--primary-white); */
    }
    
    /* Facilitator Selection Box */
    .arc-box2 {
        width: 300px;
        height: 50px;
        border: 2px solid var(--primary-light-blue);
        border-radius: 0px 0 0;
        border-top: none;
        color: var(--primary-dark-blue);
        padding-top: 18px;
    }
    
    /* Administrator Selection Box */
    .arc-box3 {
        width: 300px;
        height: 50px;
        border: 2px solid var(--primary-light-blue);
        border-radius: 0px 0px 20px 20px;
        border-top: none;
        color: var(--primary-dark-blue);
        padding-top: 18px;
    }
    
    /* Welcome Page Button Styles */
    .selectBtn {
        --bs-btn-padding-y: .5rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: 1.5rem;
        width: 250px;
        height: 50px;
        background-color: var(--secondary-pink);
        color: white;
        font-weight: bold;
    }

    /* Get Password Link Button Styles */
    .getLinkBtn {
        --bs-btn-padding-y: .5rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: 1.5rem;
        width: 250px;
        height: 50px;
        background-color: var(--secondary-pink);
        color: white;
        font-weight: bold;
    }
    
    /* Global Button Styles */
    .button {
        width: 250px;
        height: 50px;
    }

    /* 404 Error Styles */
    #message-404 {
        margin-top: 50%;
    }

    .heading-404 {
        color: var(--primary-dark-blue);
        font-size: 35px;
        font-weight: bold;
    }

    .heading-2-404 {
        color: var(--primary-light-blue);
        font-size: 25px;
        font-weight: bold;
    }
}

/************ Tablet & Desktop ************/

@media (min-width: 768px) and (max-width: 4000px) {
    /* Template Styles - Tablet + Desktop */
    /* Sets display of mobile header to none */
    #header {
        display: none;
    }

    /* Positions and sizes side panel */
    .side-panel-tablet {
        width: 35vw;
        height: 100vh;
        background-color: #197BBD;
    }

    /* Positions and sizes side panel privacy policy */
    .side-panel-tablet-policy {
        width: 35vw;
        height: 110rem;
        background-color: #197BBD;
    }

    /* Positions RISE logo */
    #side-panel-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    /* Positions background overlay */
    #side-panel-img-2 {
        height: 65vh;
        width: 35vw;
        object-fit: cover;
        padding-top: 1rem;
        opacity: 0.05;
    }

    /* Login Homescreen Styles - Tablet + Desktop */
    /* Changes Welcome Message Styles for Desktop */
    #studentlogin>div>div>h1 {
        color: var(--primary-dark-blue);
        font-size: 60px;
        padding-bottom: 50px;
        font-weight: var(--h1-font-weight);
    }
    
    /* Changes Student Login Text Styles for Desktop */
    .studentloginText {
        color: var(--primary-light-blue);
        font-weight: bold;
        margin-top: 50px;
        font-size: 35px;
    }
    
    /* Changes e-mail input styles for Desktop */
    .emailInput {
        border: 2px solid var(--primary-light-blue);
        border-radius: 20px 20px 20px 20px;
    }
    
    /* Removes link styles for forgot password link */
    .fpassword a {
        text-decoration: none;
        color: var(--primary-light-blue);
    }
    
    /*Desktop Page Styles */
    .welcomeText {
        color: var(--primary-dark-blue);
        font-size: 60px;
        padding-bottom: 50px;
        font-weight: bold;
        margin-top: 30px;
        font-weight: var(--h1-font-weight);
    }
    
    .welcomeText-2 {
        color: var(--primary-light-blue);
        font-weight: bold;
        margin-top: 50px;
        font-size: 25px;
    }
    
    .textform {
        color: var(--primary-light-blue);
    
    }
    
    /* selelct, login, getlink btn */
    .getLinkBtn,
    .logInBtn {
        margin-top: 30px;
        width: 100%;
        height: 40px;
        background: var(--secondary-pink);
        color: var(--primary-white);
        border-radius: 10px;
    }
    
    .getLinkBtn:hover,
    .logInBtn:hover,
    .selectBtn:hover {
        background: var(--primary-light-blue);
        color: var(--primary-white);
    }
    
    /* Welcome Page Headings Desktop*/
    #login>h1 {
        color: var(--primary-dark-blue);
        font-size: 60px;
        font-weight: bold;
        margin-top: 30px;
    }
    
    #login>h2 {
        color: var(--primary-light-blue);
        font-weight: bold;
        margin-top: 50px;
        font-size: 35px;
    }
    
    /* welcome page student border wrapper */
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        font-size: 25px;
        font-weight: bold;
    }
    
    .arc-box1 {
        width: 350px;
        height: 60px;
        border: 2px solid var(--primary-light-blue);
        border-radius: 20px 20px 0 0;
        padding-top: 18px;
        color: var(--primary-dark-blue);
        background-color: var(--primary-yellow);
    }
    
    .arc-box1:hover, .arc-box2:hover, .arc-box3:hover {
        background: var(--primary-yellow);
        /* color: var(--primary-white); */
    }
    
    .arc-box2 {
        width: 350px;
        height: 60px;
        border: 2px solid var(--primary-light-blue);
        border-radius: 0px 0 0;
        border-top: none;
        color: var(--primary-dark-blue);
        padding-top: 18px;
    }
    
    .arc-box3 {
        width: 350px;
        height: 60px;
        border: 2px solid var(--primary-light-blue);
        border-radius: 0px 0px 20px 20px;
        border-top: none;
        color: var(--primary-dark-blue);
        padding-top: 18px;
    }
    
    /* welcome page button */
    .selectBtn {
        --bs-btn-padding-y: .80rem;
        --bs-btn-padding-x: 1rem;
        --bs-btn-font-size: 1.5rem;
        width: 350px;
        height: 60px;
        background-color: var(--secondary-pink);
        color: white;
        font-weight: bold;
    }

    .getLinkBtn {
        --bs-btn-padding-y: .5rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: 1.5rem;
        width: 350px;
        height: 50px;
        background-color: var(--secondary-pink);
        color: white;
        font-weight: bold;
    }
    
    .button {
        width: 250px;
        height: 50px;
    }

    /* 404 Error Styles */
    .heading-404 {
        color: var(--primary-dark-blue);
        font-size: 60px;
        font-weight: bold;
    }

    .heading-2-404 {
        color: var(--primary-light-blue);
        font-size: 30px;
        font-weight: bold;
    }

}

@media screen and (min-width: 2000px) {
    /* XXL Desktop Login */
    #side-panel-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .side-panel-tablet {
        width: 20vw;
        height: 100vh;
        background-color: #197BBD;
    }

    #side-panel-img-2 {
        height: 65vh;
        width: 35vw;
        object-fit: cover;
        padding-top: 1rem;
        opacity: 0.05;
    }
}