/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Avenir LT Pro', Helvetica;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/************ Mobile ************/

@media screen and (min-width: 350px) and (max-width: 768px) {
    /* Template Styles - Mobile */
    #header {
        background-color: #197BBD;
    }
    
    #header-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .side-panel-tablet {
        display: none;
    }

    #side-panel-img-2 {
        display: none;
    }

    /* Login Homescreen Styles - Mobile */
    /* .login-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .select{
        border-radius: 20px;
        padding-inline: 100px;
        padding-block: 10px;
        border: none;
        color: white;
        background-color: rgba(198, 65, 87, 1);
        filter: drop-shadow(2px 2px 2px gray);
    } */

    /* student's login page */

    form {
        margin-top: 20px;
    }
    
    #studentlogin>div>div>h1 {
        color: var(--primary-dark-blue);
        font-size: 35px;
        font-weight: bold;
        margin-top: 50px;
    }
    
    .studentloginText {
        color: var(--primary-light-blue);
        font-weight: bold;
        margin-top: 20px;
        font-size: 25px;
    }
    
    .emailInput {
        border: 2px solid var(--primary-light-blue);
        border-radius: 20px 20px 20px 20px;
    }
    
    .fpassword a {
        text-decoration: none;
        color: var(--primary-light-blue);
    }
    
    .welcomeText {
        color: var(--primary-dark-blue);
        font-size: 35px;
        font-weight: bold;
        margin-top: 90px;
    }
    
    .welcomeText-2 {
        color: var(--primary-light-blue);
        font-weight: bold;
        margin-top: 50px;
        font-size: 25px;
    }
    
    .textform {
        color: var(--primary-light-blue);
    }
    
    /* selelct, login, getlink btn */
    .getLinkBtn,
    .logInBtn {
        margin-top: 30px;
        width: 100%;
        height: 40px;
        background: var(--secondary-pink);
        color: var(--primary-white);
        border-radius: 10px;
    }
    
    .getLinkBtn:hover,
    .logInBtn:hover,
    .selectBtn:hover {
        background: var(--primary-light-blue);
        color: var(--primary-white);
    }
    
    /* welcome page heading*/
    #login>h1 {
        color: var(--primary-dark-blue);
        font-size: 35px;
        font-weight: bold;
        margin-top: 90px;
    }
    
    #login>h2 {
        color: var(--primary-light-blue);
        font-weight: bold;
        margin-top: 50px;
        font-size: 25px;
    }
    
    /* welcome page student border wrapper */
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        font-size: 20px;
        font-weight: bold;
    }
    
    .arc-box1 {
        width: 300px;
        height: 50px;
        border: 2px solid var(--primary-light-blue);
        border-radius: 20px 20px 0 0;
        padding-top: 18px;
        color: var(--primary-dark-blue);
        background-color: var(--primary-yellow);
    }
    
    .arc-box1:hover, .arc-box2:hover, .arc-box3:hover {
        background: var(--primary-yellow);
        /* color: var(--primary-white); */
    }
    
    .arc-box2 {
        width: 300px;
        height: 50px;
        border: 2px solid var(--primary-light-blue);
        border-radius: 0px 0 0;
        border-top: none;
        color: var(--primary-dark-blue);
        padding-top: 18px;
    }
    
    .arc-box3 {
        width: 300px;
        height: 50px;
        border: 2px solid var(--primary-light-blue);
        border-radius: 0px 0px 20px 20px;
        border-top: none;
        color: var(--primary-dark-blue);
        padding-top: 18px;
    }
    
    /* welcome page button */
    .selectBtn {
        --bs-btn-padding-y: .5rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: 1.5rem;
        width: 250px;
        height: 50px;
        background-color: var(--secondary-pink);
        color: white;
        font-weight: bold;
    }

    .getLinkBtn {
        --bs-btn-padding-y: .5rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: 1.5rem;
        width: 250px;
        height: 50px;
        background-color: var(--secondary-pink);
        color: white;
        font-weight: bold;
    }
    
    .button {
        width: 250px;
        height: 50px;
    }
}

/************ Tablet & Desktop ************/

@media (min-width: 768px) and (max-width: 4000px) {
    /* Template Styles - Tablet + Desktop */
    #header {
        display: none;
    }

    .side-panel-tablet {
        width: 35vw;
        height: 100vh;
        background-color: #197BBD;
    }

    #side-panel-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #side-panel-img-2 {
        height: 65vh;
        width: 35vw;
        object-fit: cover;
        padding-top: 1rem;
        opacity: 0.05;
    }

    /* Login Homescreen Styles - Tablet + Desktop */
    #studentlogin>div>div>h1 {
        color: var(--primary-dark-blue);
        font-size: 60px;
        padding-bottom: 50px;
        font-weight: var(--h1-font-weight);
    }
    
    .studentloginText {
        color: var(--primary-light-blue);
        font-weight: bold;
        margin-top: 50px;
        font-size: 35px;
    }
    
    .emailInput {
        border: 2px solid var(--primary-light-blue);
        border-radius: 20px 20px 20px 20px;
    }
    
    .fpassword a {
        text-decoration: none;
        color: var(--primary-light-blue);
    }
    
    .welcomeText {
        color: var(--primary-dark-blue);
        font-size: 60px;
        font-weight: bold;
        margin-top: 30px;
    }
    
    .welcomeText-2 {
        color: var(--primary-light-blue);
        font-weight: bold;
        margin-top: 50px;
        font-size: 25px;
    }
    
    .textform {
        color: var(--primary-light-blue);
    
    }
    
    /* selelct, login, getlink btn */
    .getLinkBtn,
    .logInBtn {
        margin-top: 30px;
        width: 100%;
        height: 40px;
        background: var(--secondary-pink);
        color: var(--primary-white);
        border-radius: 10px;
    }
    
    .getLinkBtn:hover,
    .logInBtn:hover,
    .selectBtn:hover {
        background: var(--primary-light-blue);
        color: var(--primary-white);
    }
    
    /* welcome page heading*/
    #login>h1 {
        color: var(--primary-dark-blue);
        font-size: 60px;
        font-weight: bold;
        margin-top: 30px;
    }
    
    #login>h2 {
        color: var(--primary-light-blue);
        font-weight: bold;
        margin-top: 50px;
        font-size: 35px;
    }
    
    /* welcome page student border wrapper */
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        font-size: 25px;
        font-weight: bold;
    }
    
    .arc-box1 {
        width: 350px;
        height: 60px;
        border: 2px solid var(--primary-light-blue);
        border-radius: 20px 20px 0 0;
        padding-top: 18px;
        color: var(--primary-dark-blue);
        background-color: var(--primary-yellow);
    }
    
    .arc-box1:hover, .arc-box2:hover, .arc-box3:hover {
        background: var(--primary-yellow);
        /* color: var(--primary-white); */
    }
    
    .arc-box2 {
        width: 350px;
        height: 60px;
        border: 2px solid var(--primary-light-blue);
        border-radius: 0px 0 0;
        border-top: none;
        color: var(--primary-dark-blue);
        padding-top: 18px;
    }
    
    .arc-box3 {
        width: 350px;
        height: 60px;
        border: 2px solid var(--primary-light-blue);
        border-radius: 0px 0px 20px 20px;
        border-top: none;
        color: var(--primary-dark-blue);
        padding-top: 18px;
    }
    
    /* welcome page button */
    .selectBtn {
        --bs-btn-padding-y: .80rem;
        --bs-btn-padding-x: 1rem;
        --bs-btn-font-size: 1.5rem;
        width: 350px;
        height: 60px;
        background-color: var(--secondary-pink);
        color: white;
        font-weight: bold;
    }

    .getLinkBtn {
        --bs-btn-padding-y: .5rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: 1.5rem;
        width: 350px;
        height: 50px;
        background-color: var(--secondary-pink);
        color: white;
        font-weight: bold;
    }
    
    .button {
        width: 250px;
        height: 50px;
    }
}

@media screen and (min-width: 2000px) {
    /* XXL Desktop Login */
    #side-panel-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .side-panel-tablet {
        width: 20vw;
        height: 100vh;
        background-color: #197BBD;
    }

    #side-panel-img-2 {
        height: 65vh;
        width: 35vw;
        object-fit: cover;
        padding-top: 1rem;
        opacity: 0.05;
    }
}