/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
    color: blue;
    text-decoration: none; /* no underline */
  }

body {
	line-height: 1;
  font-family: 'Avenir LT Pro', Helvetica;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/* Global Styles */

.nopadding {
    padding: 0 !important;
}

/* removes underline from all website links */
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: var(--primaryrise-white);
}

.courses{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.my-workspace, .facilitator, .group-wrapper{
    color: white;
}


.group-wrapper :hover, .logout:hover {
background-color: var(--minion);
color: #197BBD;
}

.log-out-btn :hover {
    color: #197BBD;
}


/* Global Moble Styles */
@media screen and (min-width: 350px) and (max-width: 700px) {
    /* Mobile Deafult Template */
    #main-header {
        background-color: #197BBD;
    }

    #msg-dsk {
        display: none;
    }

    #mobile-notifications {
        display: none;
      }
  
      #mobile-messages {
        display: none;
      }
  
      #scroll-bar-notifications, #scroll-bar-msg {
        margin-top: 10.5rem;
      }
  
      .notifications-title {
        margin-top: 9rem;
      }

      #mbl-home-reg {
        display: none;
      }

    #mbl-cal-pink {
        display: none;
      }
  
      #mbl-calendar{
        display: none;
      }
    
    #videoicon{
        display: none;
    }

    #profilephoto, #profilephoto-drop, #profilename{
        display: none;
    }

    .sidebar-info{
        display: none;
    }

    #main-header-img {
        display: block;
        left: 50%;
        overflow: hidden;
        width: 45%;
    }
    
    .mobile-nav-svg-1 {
        margin-right: 1.2rem;
    }

    .mbl-msg-icon {
        width: 5rem;
    }
    
    .mobile-home-svg, .mobile-circle-svg, .mobile-video-svg, .mobile-calendar-svg {
        filter: brightness(0) saturate(100%) invert(84%) sepia(1%) saturate(72%) hue-rotate(327deg) brightness(100%) contrast(50%);
        width: 2.7rem;
    }
    
    #mobile-nav-icons {
        justify-content: center;
    }
    
    .mobile-nav {
        background-color: #FFFFFF;
        border-radius: 20px;
        box-shadow: 5px 10px 18px
    }

    #main-home-button {
        display: none;
    }

    .box {
        display: none;
    }

    #line-break {
        display: none;
    }

    .group-wrapper {
        display: none;
    }

    #desktop-notifications {
        display: none;
    }

    .mobile-home-pink-svg, .mobile-calendar-pink-svg {
        width: 2.7rem;
    }

    #home-nav-mobile-font-1 {
        color: var(--secondary-pink);
    }


    /* Calendar Mobile */
    .property-default {
      position: relative;
      width: 297px;
      height: 350px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0px 4px 24px #24616129;
      margin-left: 3rem;
      margin-top: 8rem;
    }
    
    .property-default .overlap-group {
      position: absolute;
      width: 267px;
      height: 264px;
      top: 72px;
      left: 15px;
      border-radius: 8.45px;
    }
    
    .property-default .calendar {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6.33px;
      padding: 15.84px;
      position: absolute;
      top: 0;
      left: -0.5rem;
      background-color: #ffffff;
      border-radius: 8.45px;
      border: 3px solid;
      border-color: var(--buttonprimary);
    }
    
    .property-default .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      align-self: stretch;
      width: 100%;
      flex: 0 0 auto;
      background-color: transparent;
    }
    
    .property-default .may {
      position: relative;
      width: fit-content;
      font-family: "Inter-Black", Helvetica;
      font-weight: 900;
      color: #000000;
      font-size: 18px;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
    
    .property-default .frame {
      display: inline-flex;
      align-items: flex-start;
      gap: 4.22px;
      position: relative;
      flex: 0 0 auto;
    }
    
    .property-default .chevron {
      position: relative;
      flex: 0 0 auto;
    }
    
    .property-default .days {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      flex: 0 0 auto;
      overflow: hidden;
    }
    
    .property-default .row {
      display: inline-flex;
      align-items: center;
      position: relative;
      flex: 0 0 auto;
    }
    
    .property-default .cell {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10.56px;
      position: relative;
      flex: 0 0 auto;
    }
    
    .property-default .text-wrapper {
      position: relative;
      width: 12.67px;
      height: 12.67px;
      margin-top: -0.53px;
      font-family: "Inter-SemiBold", Helvetica;
      font-weight: 600;
      color: #000000;
      font-size: 7.4px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
    }
    
    .property-default .div-wrapper {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10.56px;
      position: relative;
      flex: 0 0 auto;
      margin-left: -0.53px;
    }
    
    .property-default .div {
      display: inline-flex;
      align-items: center;
      position: relative;
      flex: 0 0 auto;
      margin-top: -0.53px;
    }
    
    .property-default .cell-2 {
      border: 0.53px solid;
      border-color: var(--stroke);
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10.56px;
      position: relative;
      flex: 0 0 auto;
    }
    
    .property-default .text-wrapper-2 {
      position: relative;
      width: 12.67px;
      height: 12.67px;
      margin-top: -0.53px;
      font-family: "Inter-Regular", Helvetica;
      font-weight: 400;
      color: #000000;
      font-size: 7.4px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
    }
    
    .property-default .cell-3 {
      margin-left: -0.53px;
      border: 0.53px solid;
      border-color: var(--stroke);
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10.56px;
      position: relative;
      flex: 0 0 auto;
    }
    
    .property-default .cell-4 {
      margin-left: -0.53px;
      background-color: var(--secondary-pink);
      border: 0.53px solid;
      border-color: var(--stroke);
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10.56px;
      position: relative;
      flex: 0 0 auto;
    }
    
    .property-default .text-wrapper-3 {
      font-family: "Inter-SemiBold", Helvetica;
      font-weight: 600;
      position: relative;
      width: 12.67px;
      height: 12.67px;
      margin-top: -0.53px;
      color: var(--primaryrise-black);
      font-size: 7.4px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
    }
    
    .property-default .element-wrapper {
      margin-left: -0.53px;
      background-color: var(--inactive);
      border: 0.53px solid;
      border-color: var(--stroke);
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10.56px;
      position: relative;
      flex: 0 0 auto;
    }
    
    .property-default .element {
      position: relative;
      width: 12.67px;
      height: 12.67px;
      margin-top: -0.53px;
      font-family: "Inter-Regular", Helvetica;
      font-weight: 400;
      color: #a7a7a7;
      font-size: 7.4px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
    }
    
    .property-default .ellipse {
      top: 152px;
      left: 184.8px;
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: var(--secondary-pink);
      border-radius: 3.5px;
    }
    
    .property-default .ellipse-2 {
      top: 152px;
      left: 44px;
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: var(--secondary-pink);
      border-radius: 3.5px;
    }
    
    .property-default .ellipse-3 {
      top: 187px;
      left: 115px;
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: var(--secondary-pink);
      border-radius: 3.5px;
    }
    
    .property-default .ellipse-4 {
      top: 187px;
      left: 80px;
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: var(--secondary-pink);
      border-radius: 3.5px;
    }
    
    .property-default .ellipse-5 {
      top: 222px;
      left: 80px;
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: var(--secondary-pink);
      border-radius: 3.5px;
    }
    
    .property-default .text-wrapper-4 {
      position: absolute;
      top: 16px;
      left: 16px;
      font-family: var(--RISE-h5-font-family);
      font-weight: var(--RISE-h5-font-weight);
      color: #246161;
      font-size: var(--RISE-h5-font-size);
      letter-spacing: var(--RISE-h5-letter-spacing);
      line-height: var(--RISE-h5-line-height);
      white-space: nowrap;
      font-style: var(--RISE-h5-font-style);
    }
    
    .property-default .line {
      position: absolute;
      width: 265px;
      height: 1px;
      top: 55px;
      left: 16px;
      object-fit: cover;
    }
    
    .property-default .group {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 11px;
      left: 201px;
      background-color: var(--secondary-pink);
      border-radius: 4px;
    }
    
    .property-default .u-calendar-alt {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 4px;
      left: 4px;
    }
    
    .property-default .u-list-ul {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 15px;
      left: 253px;
    }
}

@media (min-width: 700px) and (max-width: 4000px) {
    #mbl-calendar {
        display: none;
      }
    
    #main-header-img {
        position: absolute;
        left: 5rem;
        margin-left: auto;
        width: 10%;
    }

    #mobile-notifications{
        display: none;
    }

    #mobile-messages {
        display:  none;
    }

    .mobile-nav {
        display: none;
    }

    .side-panel-main {
        height: 100vh;
        width: 22%;
        background-color: #197BBD;
    }

    #main-home-button {
        display: block;
    }

    #profilephoto, #profilephoto-drop {
        background-color: var(--minion);
    }

    /* Sidebar Main */
    .box {
        display: block;
        width: 100%;
        height: 100vh;
        margin-left: 2.5rem;
        background-color: white;
        border-radius: 48px 0px 0px 0px;
      }

      body{
        background-color:#197BBD;
      }

      .student-sidebar-hifi {
        margin-left: -0.5rem;
      }

      /* .icon-line-category {
        background-color: none;
    } */

    .logout {
        margin-top: 50vh;
    }

    .header-icon-hover:hover {
      border-top: 3px solid white;
    }

    .meetings-modal-title {
      background-color: var(--secondary-pink);
    }

    .meeting-join {
      background-color: var(--secondary-pink);
    }

    .my-meeting-button {
      background-color: var(--primary-light-blue);
    }

    .messages-desktop-h {
        margin-top: 4rem;
    }
    
}

/* @media screen and (min-width: 1200px) {
    #side-panel-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #main-header-img {
        width: 10%;
    }
} */

/* Desktop Login */

/* Mobile Template */

/* nav {
    height: 96px;
    color: #197BBD;
}

footer {
    position: relative;
    margin-top: -52.9rem;
}

.sidebar {
    width: 400px;
    height: 85.5vh;
} */

/* .container {
    width: 1200px;
    height: 85.5vh;
    position: relative;
    bottom: 52.9rem;
    left: 12.5%;
    border-radius: 48px 0px 0px 0px;
    background: #FFF;
} */