/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
    color: blue;
    text-decoration: none; /* no underline */
  }

body {
	line-height: 1;
  font-family: 'Avenir LT Pro', Helvetica;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/* Global Styles */

.nopadding {
    padding: 0 !important;
}

/* removes underline from all website links */
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: var(--primaryrise-white);
}

.courses{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.my-workspace, .facilitator, .group-wrapper{
    color: white;
}


.group-wrapper :hover, .logout:hover {
background-color: var(--minion);
color: #197BBD;
}

.log-out-btn :hover {
    color: #197BBD;
}

.downloadIconContainer {
  background-color: var(--secondary-pink);
  align-items: center;
  justify-content: center;
}

.downloadIcon {
  width: 26px;
}

#contact-btn-select {
  background-color: #E05D7D;
  width: 6rem;
}

#join-btn-select {
  background-color: #197BBD;
  width: 8rem;
}

/* Global Moble Styles */
@media screen and (min-width: 350px) and (max-width: 700px) {

  .page {
    display: none;
  }
  .active {
    display: block;
  }
  
  /* Mobile Deafult Template */
    #main-header {
        background-color: #197BBD;
        width: 100%;
    }

    #msg-dsk {
        display: none;
    }

      #mobile-notifications {
        display: none;
      }
  
      #mobile-messages {
        display: none;
      }
  
      #scroll-bar-notifications, #scroll-bar-msg {
        margin-top: 10.5rem;
      }
  
      .notifications-title {
        margin-top: 9rem;
      }

      #mbl-cal-pink {
        display: none;
      }

      #mbl-assign-pink {
        display: none;
      }
  
      #mbl-calendar{
        display: none;
      }

      #my-assignments-mbl {
        display: none;
      }
    
    #videoicon{
        display: none;
    }

    #profilephoto, #profilephoto-drop, #profilename{
        display: none;
    }

    .sidebar-info{
        display: none;
    }

    #main-header-img {
        display: block;
        left: 50%;
        overflow: hidden;
        width: 45%;
    }
    
    .mobile-nav-svg-1 {
        margin-right: 1.2rem;
    }

    .mbl-msg-icon {
        width: 5rem;
    }
    
    #mobile-home-svg, #mobile-circle-svg, #mobile-video-svg, #mobile-calendar-svg {
        filter: brightness(0) saturate(100%) invert(84%) sepia(1%) saturate(72%) hue-rotate(327deg) brightness(100%) contrast(50%);
        width: 2.7rem;
    }
    
    #mobile-nav-icons {
        justify-content: center;
    }
    
    .mobile-nav {
        background-color: #FFFFFF;
        border-radius: 20px;
        box-shadow: 5px 10px 18px
    }

    #main-home-button {
        display: none;
    }

    .box {
        display: none;
    }

    #line-break {
        display: none;
    }

    .group-wrapper {
        display: none;
    }

    /* #desktop-notifications {
        display: none;
    } */

    .mobile-home-pink-svg, .mobile-calendar-pink-svg, .mobile-circle-pink-svg {
        width: 2.7rem;
    }

    #home-nav-mobile-font-1 {
        color: var(--secondary-pink);
    }

    /* Jia and qing add dot style for notification  */

    #desktop-notifications {
      width: 100%;
      height: 80%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .notification {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    .dot {
      width: 10px;
      height: 10px;
      background-color: #27bd19;
      /* Customize the dot color */
      border-radius: 50%;
      margin-right: 15px;
    }

    .notification-content {
      flex-grow: 1;
    }

    .notification-title a {
      font-size: 18px;
      color: #007bff;
      /* Customize link color */
      text-decoration: none;
    }

    .notification-description {
      font-size: 16px;
      color: #333;
      /* Customize description text color */
    }

    /* Daniela - Messages Icon Dropdown */
    .messages-drop-container {
      width: 100%;
      height: 90%;
      position: fixed;
      transform: translate(0%, -100%);
    }

    /* .dropdown-menu.show {
      display: block;
      width: max-content;
    } */

    .form-search {
      border: 1px solid rgb(88, 88, 88);
      border-radius: 6px;
    }

    .form-messages {
      border: none;
    }

    .fa-magnifying-glass {
      padding: 6px;
    }

    .title-cal-message {
      color: #246161;
      font-size: 21px;
      font-style: normal;
      font-weight: 800;
    }
  
    .primary-line-message {
      width: 100%;
      border: 1px solid #246161;
    }
  
    .messages-text {
      color: darkgrey;
      font-family: var(--RISE-body-smal-font-family);
    }
  
    .messages-title {
      font-family: var(--RISE-body-smal-font-family);
    }


    /* Calendar Mobile */
    #mbl-calendar {
      margin-top: 10rem;
    }

    .title-cal-message-mobile {
      color: #246161;
      font-size: 21px;
      font-style: normal;
      font-weight: 800;
    }


    .calendar-icons-mobile img:hover {
      background-color: var(--secondary-pink);
      border-radius: 20%;
      padding: 2px;
    }
    
    .icon-mobile.active {
      background-color: var(--secondary-pink);
  
      border-radius: 6px;
      padding: 2px;
    }
  
    .current-month-mobile {
      font-weight: 900;
      font-size: 13px;
    }
  
    #calendar-content-mobile {
      border: 1px solid #246161;
      cursor: pointer;
    }
  
    .calendar-arrows-mobile img:hover {
      background-color: var(--secondary-pink);
      border-radius: 50%;
    }
  
    .calendar-mobile ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      text-align: center;
    }
  
    .calendar-mobile ul li {
      width: calc(100% / 7);
      text-align: center;
      font-size: 8px;
      font-weight: 600;
    }
  
    .weeks-mobile ul li{
      margin: 20px 0 15px 0;
      font-size: 9px;
    }
  
    .days-mobile ul li {
      list-style: none;
    }
  
    .days-mobile li:hover {
      background-color: var(--secondary-pink);
    }
  
    .days-mobile li {
      border: 1px solid #D5D4DF;
      padding: 10px;
    }
  
    .days-mobile li.inactive-mobile {
      background-color: #F2F3F7;
      color: #A8A8A8;
    }
  
    .days-mobile li.active-mobile {
      background-color: var(--secondary-pink);
      color: #000000;
    }
  
    .has-event-mobile::before {
      content: '•';
      font-size: 25px;
      position: absolute;
      padding-top: 3px;
      color: #EBBC9C; 
    }
  
    /* Define styles for the event list items */
    .event-list-item-mobile {
      padding: 10px;
      border-radius: 6px;
  
      background-color: #EBBC9C;
    }

    /* My Assignments Mobile Styles */
    /* Nov 4 */
    #my-assignments-mbl, #assignmentsPage, #calendarPage {
      margin-top: 8rem;
    }

    .assignment-table td {
      height: 150px;
      padding: 1rem;
    }

    .assignment-table th {
      background-color: var(--secondary-pink);
      color: #FFFFFF;
    }
    
    .assignment-table th,
    .assignment-table td {
      border: 2px solid var(--secondary-pink);
      padding: 25px;
    }
    
    .assignment-table th {
      padding: 15px;
    }

    #myTabs li a:link {
      color: gray;
    }
    
    #myTabs li a:visited {
      color: grey;
    }
    
    #myTabs li a:hover {
      color: var(--secondary-pink);
      text-decoration: underline;
      text-decoration-thickness: 5px;
      text-underline-position: under;
    }
    
    #myTabs li a:active {
      color: var(--secondary-pink);
    }
}

@media (min-width: 701px) and (max-width: 4000px) {
  /* NOV 4 */
    #homePage, #assignmentsPage, #meetingsPage, #calendarPage {
      display: none;
    }
  
    #mbl-calendar {
        display: none;
      }

    #my-assignments-mbl {
      display: none;
    }
    
    #main-header-img {
        position: absolute;
        left: 5rem;
        margin-left: auto;
        width: 10%;
    }

    #mobile-notifications{
        display: none;
    }

    #mobile-messages {
        display:  none;
    }

    .mobile-nav {
        display: none;
    }

    .side-panel-main {
        height: 100vh;
        width: 22%;
        background-color: #197BBD;
    }

    #main-home-button {
        display: block;
    }

    #profilephoto, #profilephoto-drop {
        background-color: var(--minion);
    }

    /* Sidebar Main */
    .box {
        display: block;
        width: 100%;
        height: 100vh;
        /* margin-left: 2.5rem; */
        background-color: white;
        border-radius: 48px 0px 0px 0px;
      }

      body{
        background-color:#197BBD;
      }

      .student-sidebar-hifi {
        margin-left: -0.5rem;
      }

      /* .icon-line-category {
        background-color: none;
    } */

    .logout {
        margin-top: 50vh;
    }

    .header-icon-hover:hover {
      border-top: 3px solid white;
    }

    .meetings-modal-title {
      background-color: var(--secondary-pink);
    }

    /* Styles background color for leave call button in join meeting modal */
    .leave-call-button {
      background-color: var(--primary-yellow);
    }

    .leave-call-button:hover {
      background-color: var(--primary-yellow);
    }

    .meeting-join {
      background-color: var(--secondary-pink);
    }

    .my-meeting-button {
      background-color: var(--primary-light-blue);
    }

    .messages-desktop-h {
        margin-top: 4rem;
    }

    /* Jia and qing add dot style for notification  */

    #desktop-notifications {
      min-width: 500px;
      width: 100%;
      top: 18.5rem;
      transform: translate(-50%, -50%);
    }

    .notification {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    .dot {
      width: 10px;
      height: 10px;
      background-color: #27bd19;
      /* Customize the dot color */
      border-radius: 50%;
      margin-right: 15px;
    }

    .notification-content {
      flex-grow: 1;
    }

    .notification-title a {
      font-size: 18px;
      color: #007bff;
      /* Customize link color */
      text-decoration: none;
    }

    .notification-description {
      font-size: 16px;
      color: #333;
      /* Customize description text color */
    }

    /* Daniela - Messages Icon Dropdown */
    .messages-drop-container {
      min-width: 500px;
      width: 100%;
      top: 30rem;
      transform: translate(-40%, 4%);
    }

    .dropdown-menu.show {
      display: block;
      width: max-content;
    }

    .form-search {
      border: 1px solid rgb(88, 88, 88);
      border-radius: 6px;
    }

    .form-messages {
      border: none;
    }

    .fa-magnifying-glass {
      padding: 6px;
    }

    .title-cal-message {
      color: #246161;
      font-size: 21px;
      font-style: normal;
      font-weight: 800;
    }
  
    .primary-line-message {
      width: 100%;
      border: 1px solid #246161;
    }
  
    .messages-text {
      color: darkgrey;
      font-family: var(--RISE-body-smal-font-family);
    }
  
    .messages-title {
      font-family: var(--RISE-body-smal-font-family);
    }
    
}