/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Avenir LT Pro', Helvetica;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/* My Workspace Mobile Styles */
@media screen and (min-width: 350px) and (max-width: 700px) {
    #main-header {
        position: fixed;
    }

    .welcome-back-text {
        margin-top: 9rem;
        margin-bottom: 2rem;
    }

    .sticky-content {
        position: relative;
        z-index: 1;
    }

    .courses{
        flex-wrap: wrap;
        gap: 20px;
    }

    .card-img-h {
        transform: scale(0.5rem);
    }

    .card-body-h {
        height: 3rem;
    }
}

@media (min-width: 700px) and (max-width: 4000px) {
  
    .courses {
        display: none;
    }

    .mobile-headings {
        display: none;
    }

    /* .card-body-desktop {
        height: 1rem;
    } */

    .card-img-top {
        width: 100%;
    }

    /* Profile Dropdown */
    .profile-dropdown{
    outline: 1px solid red;
    }

    .crd-ds {
      border: none;
    }

    

      /* .courses-desktop .card {
        padding-right: 0;
        padding-left: 0;
      } */

      /* Messages Styles Desktop */
    .title-cal-message {
      color: #246161;
      font-size: 21px;
      font-style: normal;
      font-weight: 800;
    }

    .primary-line-message {
      width: 100%;
      border: 1px solid #246161;
    }

    .messages-text {
      color: darkgrey;
      font-family: var(--RISE-body-smal-font-family);
    }

    .messages-title {
      font-family: var(--RISE-body-smal-font-family);
    }

    .messages-icons img:hover {
      background-color: var(--secondary-pink);
      border-radius: 20%;
      padding: 2px;
    }

      /* Calendar Desktop */
      .current-month {
        font-weight: 900;
        font-size: 13px;
      }

      #calendar-content {
      border: 1px solid #246161;
      cursor: pointer;
    }

    .calendar-arrows img:hover {
      background-color: var(--secondary-pink);
      border-radius: 50%;
     }

     .calendar ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;

      text-align: center;
     }

     .calendar ul li {
      width: calc(100% / 7);

      text-align: center;

      font-size: 8px;
      font-weight: 600;
     }

     .weeks ul li{
      margin: 20px 0 15px 0;
      
      font-size: 9px;
     }

     .days ul li {
      list-style: none;
     }

     .days li:hover {
      background-color: var(--secondary-pink);
     }

     .days li {
      border: 1px solid #D5D4DF;
      padding: 10px;
     }

     .days li.inactive {
      background-color: #F2F3F7;
      color: #A8A8A8;
     }

     .days li.active {
      background-color: var(--secondary-pink);
      color: #000000;
     }

     .has-event::before {
      content: '•';
      font-size: 25px;
      position: absolute;
      padding-top: 3px;
      color: #EBBC9C; 
    }
}