/* This stylesheet hosts the styles to the My Workspace page. */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Avenir LT Pro', Helvetica;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/* CSS Reset End */

/* jia and qing  */
.tab {
  display: inline;
  border-radius: 100px;
}

/* My Workspace Mobile Styles */
@media screen and (min-width: 350px) and (max-width: 700px) {
    
    /* Fixes position of top header on mobile */
    #main-header {
        position: fixed;
    }

    /* Adds spacing to Welcome Back text for student */
    .welcome-back-text {
        margin-top: 9rem;
        margin-bottom: 2rem;
    }

    /* Makes top header stick to top of screen */
    .sticky-content {
        position: relative;
        z-index: 1;
    }

    /* Adds gap and wraps courses to be displayed on mobile */
    .courses{
        flex-wrap: wrap;
        gap: 20px;
    }

    /* .card-img-h {
        transform: scale(0.5rem);
    } */

    /* Changes height of each class' card */
    .card-body-h {
        height: 3rem;
    }
}

@media (min-width: 701px) and (max-width: 4000px) {
    
  /* Messages container styles */
  .messages-container {
      max-height: 250px; /* Set the desired maximum height */
      overflow-y: auto; /* Enable vertical scrolling */
    }

    /* Hides mobile course page */
    .courses {
        display: none;
    }

    /* Disables display of mobile headings on desktop */
    .mobile-headings {
        display: none;
    }


    /* Changes class card image size to 100% of container */
    .card-img-top {
        width: 100%;
    }

    /* Removes border from cards */
    .crd-ds {
      border: none;
    }

  /* Messages and Calendar Styles DESKTOP */
 
  /* Adds the .messages-calendar and fixed-width that prevents the container for resizing and stretching */
  .messages-calendar {
    flex-shrink: 0; /* This prevent resizing */
    width: 300px;
  }
  
  .fixed-width {
    flex: 0 0 auto; /* This prevents the container from stretching */
    max-width: 300px; 
  }

  /* Calendar Desktop */
  .calendar-icons img:hover {
    background-color: var(--secondary-pink);
    border-radius: 20%;
    padding: 2px;
  }
  
  /* Changes colour of icon once active */
  .icon.active {
    background-color: var(--secondary-pink);

    border-radius: 6px;
    padding: 2px;
  }

  /* changes weight and size of the current month */
  .current-month {
    font-weight: 900;
    font-size: 13px;
  }

  /* adds border and click to calendar */
  #calendar-content {
    border: 1px solid #246161;
    cursor: pointer;
  }

  /* Changes colour of calendar arrows once hovered */
  .calendar-arrows img:hover {
    background-color: var(--secondary-pink);
    border-radius: 50%;
  }
  
  /* Sets display for calendar items */
  .calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
  }

  /* Splits calendar into 7 days */
  .calendar ul li {
    width: calc(100% / 7);
    text-align: center;
    font-size: 8px;
    font-weight: 600;
  }

  /* Changes font size and adds spacing for days */
  .weeks ul li{
    margin: 20px 0 15px 0;
    font-size: 9px;
  }

  /* Remove bullet points for day numbers */
  .days ul li {
    list-style: none;
  }

  /* Sets backgrounnd colour of each day to be pink once hovered */
  .days li:hover {
    background-color: var(--secondary-pink);
  }

  /* Sets border for each day */
  .days li {
    border: 1px solid #D5D4DF;
    padding: 10px;
  }

  /* Sets background colour to grey for days from the previous month */
  .days li.inactive {
    background-color: #F2F3F7;
    color: #A8A8A8;
  }

  /* Sets background colour to pink for current day */
  .days li.active {
    background-color: var(--secondary-pink);
    color: #000000;
  }

  /* Adds icon if a day has an event */
  .has-event::before {
    content: '•';
    font-size: 25px;
    position: absolute;
    padding-top: 3px;
    color: #EBBC9C; 
  }

  /* Define styles for the event list items */
  .event-list-item {
    padding: 10px;
    border-radius: 6px;

    background-color: #EBBC9C;
  }
}

/* Daniela add this media screen so I can control the class box and modified the mesages and calendar when the screen is 1276px or less */
@media (max-width: 1276px) {

  .box {
    max-width: 100%;
    height: auto;
  }

  .btn {
    margin-bottom: 30px;
  }

  .messages-calendar {
    display: flex;

    max-width: 100%;
    width: 100% !important;

    margin-left: 0;
  }

  .desk-msg {
    width: 50%;
    margin-right: 30px;
  }

  .calendar-container {
    width: 50%;

    margin-right: 50px;
  }

}

@media (max-width:767px) {
  .messages-calendar {
    flex-direction: column;
  }

  .desk-msg, .calendar-container {
    width: auto;

    margin-right: 30px;
  }
}
